:root {
  --white: #FFFFFF;
  --black: #000000;
  --light-black: #666666;
  --gold: #ffd700;
  --fuchsia: #ff00ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: var(--white);
}

.list-user {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.list-user ul li a img {
  display: flex;
  height: 50px;
  object-fit: cover;
  width: 50px;
  border-radius: 100%;
  transition: .6s ease-in-out;
}

.list-user ul li a img:hover {
  transform: scale(.9);
}

.list-user ul li {
  margin-right: 20px;
}

.list-user ul li a {
  display: block;
  background-color: var(--white);
  padding: 2px;
  border-radius: 100%;
}

.outer-layer {
  position: relative;
  background: linear-gradient(45deg, var(--gold), var(--fuchsia));
  padding: 2px;
  border-radius: 100%;
}

.tools {
  width: 10px;
  z-index: 100;
}

.pause-icon {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 5%;
}

.stories-container {
  position: relative;
  width: 500px;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
}

.stories-slider {
  display: flex;
}

.stories-bar {
  position: absolute;
  width: 100%;
  padding: 10px 20px;
  z-index: 100;
}

.progress-container {
  display: flex;
  flex-direction: row;
  width: 100%; 
  padding: 10px 0;
  cursor: pointer;
}

.progress {
  height: 2px;
  flex-grow: 1;
  border-radius: 4px;
  margin: 0 2px;
  display: flex;
  background-image: -webkit-linear-gradient(left, 
    rgba(255,255,255,.5) 0%,
    rgba(255,255,255,.5) 50%,
    rgba(88, 89, 104,.5) 50.001%,
    rgba(88, 89, 104,.5) 100%
  );
  background-repeat: no-repeat;
  background-size: 200%;
  background-color: var(--light-black);
  background-position: 100% 50%;
  animation-timing-function: linear;
  animation-delay: .2s;
}

.progress.active {
  animation-name: Loader;
}

.progress.passed {
  background-position: 0 0; 
}

@keyframes Loader {
  0% { background-position: 100% 0; }
  100% { background-position: 0 0; }
}

.avatar {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.user-detail {
  display: flex;
  justify-content: space-between;
}

.user {
  width: 100%;
  height: 900px;
}

.story-content {
  width: 500px;
  background-color: var(--black);
}

.story-content img {
  object-fit: cover;
  max-width: 100%;
  height: 900px;
}