:root {
  --white: #FFFFFF;
  --white2: #f4f4f4;
  --suggestion: #D3D3D3;
  --light-black: #666666;
  --gray: #9D9D9D;
  --green: #9DBFAF;
  --black: #3a3a3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

#map {
  width: 100vw;
  height: 100vh;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.search-input {
  width: 100%;
  border: 3px solid var(--suggestion);
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: var(--green);
}

.search-input:focus{
  color: var(--black);
}

.btn {
  width: 40px;
  height: 36px;
  border: 1px solid var(--suggestion);
  background: var(--gray);
  text-align: center;
  color: var(--white);
  cursor: pointer;
  font-size: 20px;
}

.nowBtn {
  border-radius: 0 5px 5px 0;
}

.wrap{
  width: 20%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.suggestion {
  background-color: var(--white);
  border: 3px solid var(--suggestion);
  display: none;
}

.suggestion.show {
  display: block;
}

.suggest {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid var(--suggestion);
}

.suggest:hover {
  background-color: var(--white2);
}